{% extends "base.html" %}
{% load bootstrap %}
{% load static %}
{% load fontawesome %}
{% block title %}物体マーチング実施{% endblock title %}

{% block content %}
    <h3 class="page-header">物体マーチング実施</h3>
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == "info" %}
                <div class="alert alert-success">
                    <a class="close" data-dismiss="alert">{% fontawesome_icon 'remove'  %}</a>
                   {{ message }}
                </div>
            {% endif %}
             {% if message.tags == "error" %}
                <div class="alert alert-danger">
                    <a class="close" data-dismiss="alert">{% fontawesome_icon 'remove'  %}</a>
                   {{ message }}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    <form action="{% url 'template:transaction_create' %}" method="post" class="form-horizontal" role="form" enctype="multipart/form-data">
      {% csrf_token %}
      <!--{{ form|bootstrap_horizontal }}-->
        <section class="form-box">
            <fieldset>
                <p><span class="required">[*]は必須入力項目です。</span></p>
                {% for field in form %}
                    {% if field.errors %}
                        <div class="control-group error">
                            <label class="control-label">{{ field.label }}</label>
                            <div class="controls">{{ field }}
                                <span class="help-inline">
                                    {% for error in  field.errors %}{{ error }}{% endfor %}
                                </span>
                            </div>
                        </div>
                    {% else %}
                        <div class="control-group">
                            <label class="control-label">{{ field.label }}<span class="required">[*]</label>
                            <div class="controls">{{ field }}
                                {% if field.help_text %}
                                    <p class="help-inline"><small>{{ field.help_text }}</small></p>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                <div class="operation">
                    <p><button type="submit" class="btn btn-primary">{% fontawesome_icon 'random'  %} 物体マーチングを実施する</button></p>
                </div>
                <p><span class="required">※：OpenCVテンプレートマーチングについて、テンプレート画像は元画像よりサイズが小さければならないこと。</span></p>
                <p><span class="required">　　テンプレート画像が元画像の対象と同じぐらいのサイズ、または等比例スケーリングでないと精度が低いこと。</span></p>
            </fieldset>
        </section>
    </form>

<script>
$(document).ready(function () {
    $('form input:file').uploadThumbs({
        position : 0,      // 0:before, 1:after, 2:parent.prepend, 3:parent.append,
                           // any: arbitrarily jquery selector
        imgbreak : true    // append <br> after thumbnail images
    });
})
</script>


{% endblock content %}







