{% extends "base.html" %}

{% block title %}書籍の一覧{% endblock title %}

{% block extrahead %}
<style>
table {
  margin-top: 8px;
}
</style>
{% endblock %}

{% block content %}
    <h3 class="page-header">テンプレートマッチング一覧</h3>
    <a href="{% url 'template:transaction_create' %}" class="btn btn-sm btn-default">テンプレートマッチング追加</a>

    <table class="table table-bordered table-hover">
      <thead>
        <tr class="danger">
          <th>ID</th>
          <th>名前</th>
          <th>画像(処理元)</th>
          <th>テンプレート</th>
          <th>画像(処理結果)</th>
        </tr>
      </thead>
      <tbody>
        {% for item in transactions%}
        <tr class="{% if forloop.counter|divisibleby:2 %}success{% else %}active{% endif %}">
          <td>{{ item.id }}</td>
          <td>{{ item.name }}</td>
          <td>
              <a data-fancybox="gallery" href="{{ item.src_image.url }}" class="group{{ forloop.counter }}">
                <img src="{{ item.src_image.url }}" width="50px" height="40px"/>
              </a>
          </td>
          <td>
            <!--
            {{ item.template.name }} <br/>
            -->
            <!-- -->
            {% for image in item.template.Images.all %}
              <a data-fancybox="gallery" href="{{ image.path.url }}" class="group{{ forloop.parentloop.counter }}">
                <img src="{{ image.path.url }}" width="50px" height="40px"/>
              </a>
            {% endfor %}
          </td>
          <td>
              {% if item.dest_image %}
                  <a data-fancybox="gallery" href="{{ item.dest_image.url }}" class="group{{ forloop.counter }}">
                    <img src="{{ item.dest_image.url }}" width="50px" height="40px"/>
                  </a>
              {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

<script type="text/javascript">
    $(function(){
        {% for item in transactions %}
            $(".group{{ forloop.counter }}").fancybox({});
        {% endfor %}
    });
</script>

{% endblock content %}



